.header {
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-decoration: none;
}

.logo {
  display: flex;
  width: 60px;
}

.title-group a{
  display: flex;
  height: 50px;
  padding-left: 25px;
  align-items: center;
}

a i {
  padding-right: 5px;
}

